<!-- about -->
{{ $data := index site.Data site.Language.Lang }}
{{ with $data.publications.publications }}
{{ $counter := 1}}
{{ $jcounter := 1}}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
            <!-- {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}-->
            <h2 class="section-subtitle">Recent Publications</h2>
          <div class="container">
            <div class="row hidden-xs hidden-sm hidden-md">
              <br>
              <div class="col-md-1">
                <h3> ID</h3>
              </div>
              <div class="col-md-1">
                <h3><img class="images" src="images/download.png" style="width:50%"> </h3>
              </div>
              <div class="col-md-4">
                <h3><img class="images" src="images/title.png" style="width:10%"> Title</h3>
              </div>
              <div class="col-md-4">
                <h3><img class="images" src="images/author.png" style="width:08%"> Authors</h3>
              </div>
              <div class="col-md-2">
                <h3><img class="images" src="images/book.png" style="width:15%"> Bibliography</h3>
              </div>
            </div>
            <hr>
            {{range $i, $e := .years}}{{if lt $i 2}}
            {{range $a, $z := .papers}}{{if lt $a 4}}
            <br>
            <div class="row">
              <div class="col-md-1 hidden-xs hidden-sm hidden-md">
                {{if eq (.type) 0}}
                <p class="hidden-xs hidden-md"><img class="images hidden-xs hidden-md" src="images/paper-icon-color.png" width="15px"> P {{$counter}} </p>
                {{else if eq (.type) 1}}
                <p class="hidden-xs hidden-md"><img class="images hidden-xs hidden-md" src="images/journal-icon-color.png" width="15px"> J {{$jcounter}} </p>
                {{end}}
              </div>
              <div class="col-md-1 hidden-xs hidden-sm hidden-md">
                {{if ne (.myurl) 0}}
                <a href=publications/{{.myurl}}><img class="images" src="images/pdf.png" width="30px"></a> 
                {{end}}
              </div>
              <div class="col-md-4 hidden-lg">
                <p><a href=publications/{{.myurl}}><b>{{.title}}</b></a></p>
              </div>
              <div class="col-md-4 hidden-xs hidden-sm hidden-md">
                <p>{{.title}}</p>
              </div>
              <div class="col-md-4">
                <p>{{ .authors }}</p>
              </div>
              <div class="col-md-2">
                <p>{{ .published }} </p>
              </div>
            </div>
            <br>
            <hr>
            {{ $counter = add $counter 1}}
            {{end}}
            {{end}}
            {{end}}
            {{end}}
          </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <a class="btn btn-main " href="publications/">Complete list</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /about -->