<!-- research interests -->
{{ with .Params.research }}
{{ if .enable }}

<section class="call-to-action bg-1 section-sm overly" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ with .title }}<h2 class="section-subtitle">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}<p>{{ . | markdownify }}</p><br>{{ end }}
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            {{ range $index, $elements := .tabs }}
            <li {{ if eq $index 0 }} class="active" {{ end }}><a href="#{{ .name | urlize }}" data-toggle="tab">{{ .name
                }}</a></li>
            {{ end }}
          </ul>
          <div class="tab-content">
            {{ range $index, $elements := .tabs }}
            <div id="{{ .name | urlize }}" class="tab-pane fade {{ if eq $index 0 }} active in {{ end }}">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ end }}
          </div>
          <!-- <div class="col-md-12">
            <div class="block">
              <a class="btn btn-main " href="publications/">Research statement</a>
            </div>
          </div>
        -->
        </div>
      </div>
    </div>
  </div>
</section>
  {{ end }}
  {{ end }}