{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="research section-sm">
  <div class="container">
    <div class="row">
      {{ with .Params.research_vision }}
      {{ if .enable }}
      <div class="col-md-12">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            {{ range $index, $elements := .tabs }}
            <li {{ if eq $index 0 }} class="active" {{ end }}><a href="#{{ .name | urlize }}"
                data-toggle="tab">{{ .name }}</a></li>
            {{ end }}
          </ul>
          <div class="tab-content">
            {{ range $index, $elements := .tabs }}
            <div id="{{ .name | urlize }}" class="tab-pane fade {{ if eq $index 0 }} active in {{ end }}">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>


{{ end }}
